<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E284B00E1DED25B90058C4BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E284B0221DED25B90058C4BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E284B02D1DED25B90058C4BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
